@charset "utf-8";


@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$black: #0A0A0A;
$blue: #0080EE;
$orange: #F84C00;
$light-orange: #FEDBCC;
$sand: #FFFBF7;
$link-color: $orange;
// Update the sans-serif font family
$family-sans-serif: "pill-gothic-300mg", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
$primary: $orange;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

// 5. Add own stylesheets
@import "../../../Private/Styles/Fonts";
@import "../../../Private/Styles/Columns";
@import "../../../Private/Styles/Header";
@import "../../../Private/Styles/Sections";
@import "../../../Private/Styles/Footer";

// 6. Custom global styling

main {
    @media screen and (min-width: $tablet) {
        margin-top: 120px;
    }

    a {
        color: $link-color;
    }
}
