@charset "utf-8";


@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$black: #0A0A0A;
$blue: #0080EE;
$theme: #6fa9cd;
$light-orange: #FEDBCC;
$sand: #FFFBF7;
$link-color: $theme;
// Update the sans-serif font family
$family-sans-serif: "pill-gothic-300mg", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
$primary: $theme;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

// 5. Add own stylesheets
@import "../../../Private/Styles/Fonts";
@import "../../../Private/Styles/Columns";
@import "../../../Private/Styles/Header";
@import "../../../Private/Styles/Sections";
@import "../../../Private/Styles/Footer";

// 6. Custom global styling

main {
    padding-bottom: 120px;

    @media screen and (min-width: $tablet) {
        margin-top: 120px;
        padding-bottom: 0;
    }

    a {
        color: $link-color;
    }
}

.underline {
    &:after {
        animation: underline 1s 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        background-color: $theme;
        bottom: 8%;
        content: '';
        display: block;
        height: 12px;
        left: 0;
        position: absolute;
        z-index: -1;
    }
}

//Custom animations for AOS and regular animations
[data-aos="turn-up"] {
  transform: translateY(200%);

  &.aos-animate {
    transform: translateY(0);
  }
}

[data-aos] {
    body[data-aos-easing="ease-expo-out"] &,
        &[data-aos][data-aos-easing="ease-expo-out"] {
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        }
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 104%;
    }
}
