h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-weight: 800;
    line-height: 1.1;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
    line-height: 1.5;
}

.section {
    p {
        font-size: 1.4em;
    }

    .headline {
        margin: 5em auto 0;
        padding: 0 2em;
    }
}

.full-height-section {
    .section {
        .text {
            margin: 1em 0;
        }

        .headline {
            margin: 0 2em;
            padding: 0;
        }
    }
}

.headline-div, .text-div {
    display: flex;
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.text {
    margin: 0 auto;
    padding: 2em;
}

@media screen and (min-width: $tablet) {
    .full-height-section {
        .section {
            .text {
                margin: 2em 2em;
            }

            .headline {
                margin: 0 4em;
                padding: 0;
            }
        }
    }

    h1 {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 2vw;
        margin-bottom: .5em;
        line-height: 1.1;
    }
    /*    .headline {
        margin-bottom: 3em;
    }*/
}
