.mini-footer {
    padding: 0 2em;

    @media screen and (min-width: $tablet) {
        display: block;
        left: 2em;
        position: absolute;
        bottom: 2em;

        p {
            font-size: .8em;
        }
    }
}

.big-footer {
    text-align: center;
    padding: 50px 20px;
    position: relative;

    header {
        max-width: 480px;
        margin: 0 auto 40px;

        p {
            color: $black;
            font-size: 2.5em;
            font-weight: 800;
            line-height: 1.1;
        }
    }

    .big-footer-button {
        border: 3px $orange solid;
        display: block;
        margin: 0 auto;
        padding: 5px 25px;
        width: fit-content;

        a {
            font-size: 1.5em;
            font-weight: 600;
        }

        span {
            color: $orange;
            font-size: 2em;
            padding: 0 25px;
        }
    }

    .copyright {
        display: inline-block;
        margin-top: 40px;

        p {
            font-size: 1em;
        }
    }
    @media screen and (min-width: $tablet)  {

    }
}
