header {
    nav {
        z-index: 9;

        .navigation-container {
            align-items: center;
            background-color: white;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15), 0px 0px 10px 0px rgba(0,0,0,0.12), 0px 0px 20px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15), 0px 0px 10px 0px rgba(0,0,0,0.12), 0px 0px 20px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15), 0px 0px 10px 0px rgba(0,0,0,0.12), 0px 0px 20px 0px rgba(0,0,0,0.1);
            display: flex;
            height: 90px;
            justify-content: center;
            left: 0;
            padding: 0;
            position: fixed;
            bottom: 0;
            width: 100vw;
            z-index: 10;

            .navigation, .kontakt-cta {
                display: inline-flex;
                text-align: center;

                li {
                    display: inline-block;

                    a {
                        color: $black;
                        font-weight: 800;
                        font-size: 1em;
                        text-transform: uppercase;
                        padding: 2px 10px;

                        &:hover {
                            color: $orange;
                        }
                    }
                }

                .navigation-item--state-current {
                    a {
                        border-bottom: 3px $orange solid;
                        //color: $orange;
                    }
                }
            }
        }

        .logo {
            img {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                    position: absolute;
                    top: 15px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 9;
                }
            }
        }

        @media screen and (min-width: $tablet){
            left: 0;
            position: absolute;
            top: 0;

            .navigation-container {
                align-items: center;
                display: flex;
                flex-direction: row;
                height: 120px;
                justify-content: space-between;
                padding: 0 60px;
                position: relative;
                z-index: 8;

                .navigation, .kontakt-cta {
                    li {
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            border: 3px transparent solid;
                            font-size: 1.25em;
                        }

                        &:hover {
                            a {
                                border-bottom: 3px $orange solid;
                            }
                        }
                    }

                    .navigation-item--state-current {
                        a {
                            border: 3px $black solid;
                        }

                        &:hover {
                            a {
                                border: 3px $orange solid;
                            }
                        }
                    }
                }
            }

            .logo {
                img {
                    &:last-child {
                        display: none;
                    }

                    &:first-child {
                        display: block;
                        position: absolute;
                        top: 15px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 9;
                    }
                }
            }
        }
    }
}
